.skillsChartContainer {
  max-width: 600px;
  margin: 2rem auto;
}

.skillsChartContainer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.chart {
  width: 100%;
  height: 300px;
}
